<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="581" class="elementor elementor-581" data-elementor-settings="[]">
      <div class="elementor-inner container mt-5">
        <section>
          <h2 class="text-center"><b>LABORATORIES</b></h2>
          <br>
          <h4>The school has well equipped laboratory for physics, chemistry and biology. Laboratories are a seed ground where students get to explore, question, invent and learn in a collaborative way.
          <br><br>
          <b><i>“I hear – I forget”
          “I see – I remember”
          “I do – I understand”<br>
          <span style="float:right;">----Chinese Proverb</span></i></b> </h4>
          <br>
          <hr>
        </section>
        <section>      
          <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab1.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab2.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab3.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab4.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("lab5.jpeg", class: "") %>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->