<section class="padding ptb-xs-60">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content">
          <div class="row">
            <div class="col-sm-12"> 
              <div class="heading-box pb-30">
                <center><h2><span>Mandatory</span> Public Disclosure</h2></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <main role="main" class="pb-3">            
    <div class="catRedirectMain">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 catRedirect">
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_public_disclosure_path %>"><b>PUBLIC DISCLOSURE</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_noc_path %>"><b>No Objection Certificate</b></a>
              <a id="lnkbtnGovt" class="btn-grad" href="<%= welcome_affiliation_letter_path%>"><b>Affiliation Letter</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_society_certificate_path %>"><b>Society/Trust Registration Certificate</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_committee_path %>"><b>School Management COMMITTEE STRUCTURE</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_committees_path %>"><b>OFFICIAL OF DIFFERENT COMMITTEES AS PER CBSE RULES</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_deo_certificate_path %>"><b>Self Certificate/DEO Certificate for affiliation</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_pta_path %>"><b>PTA</b></a>
              <a id="ExistingSchool" class="btn-grad" href="<%= welcome_recognition_path%>"><b>Recognition Certificate Under RTE Act-2009</b></a>
              <a id="KvsExisting" class="btn-grad" href="<%= welcome_building_safety_certificate_path %>"><b>Building Safety Certificate</b></a>
              <a id="lnkbtnforeignexisting" class="btn-grad" href="<%= welcome_fire_safety_path%>"><b>Fire Safety Certificate</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_land_certificate_path %>"><b>Land Certificate</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_water_certificate_path %>"><b>Water,Health and Sanitation Certificate</b></a>
              <a id="lnkbtnGovt" class="btn-grad" href="<%= welcome_fee_stracture_path %>"><b>Fees Structure</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="<%= welcome_academic_calender_path %>"><b>Academic Calendar</b></a>
              <a id="ExistingSchool" class="btn-grad" href="<%= welcome_book_list_path%>"><b>Book List with Declaration</b></a>
              <a id="KvsExisting" class="btn-grad" href="<%= welcome_three_year_results_path%>"><b>Last Three Year Results of the Board</b></a>
              <a id="lnkbtnforeignexisting" class="btn-grad" href="<%= welcome_norms_of_fixing_fee_path%>"><b>Norms of fixing fee</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<section class="padding ptb-xs-60">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="container py-20">
                <div class="row">
                  <div class="col-md-12">
                    <div id="homepage-tiles-inner">
                      <div class="inner">
                        <div id="promo-tile-large-inner">
                          <div class="inner-page-content">
                            <div>
                              <div id="tg-content" class="tg-content">
                                <div class="tg-aboutus tg-Objectives">
                                  <div class="">
                                    <h2 class="section-heading"><i class="fa fa-book" aria-hidden="true"></i> A : GENERAL INFORMATION :</h2>
                                    <div style="overflow-x: auto;">
                                      <table class="table-bordered table-responsive table-responsive1">
                                        <tbody>
                                          <tr>
                                            <th>S.No.</th>
                                            <th>INFORMATION</th>
                                            <th>DETAILS</th>
                                          </tr>
                                          <tr>
                                            <td>1.</td>
                                            <td>NAME OF THE SCHOOL</td>
                                            <td>SANT PARAM DAYAL HR. SEC. SCHOOL, Gonchh, Kotla Road  Uttar Pradesh</td>
                                          </tr>
                                          <tr>
                                            <td>2.</td>
                                            <td>AFFILIATION NO (IF APPLICABLE)</td>
                                            <td>2132655</td>
                                          </tr>
                                          <tr>
                                            <td>3.</td>
                                            <td>SCHOOL CODE (IF APPLICABLE) </td>
                                            <td>61080</td>
                                          </tr>
                                          <tr>
                                            <td>4.</td>
                                            <td>COMPLETE ADDRESS WITH PINCODE</td>
                                            <td>SANT PARAM DAYAL HR. SEC. SCHOOL, Gonchh, Kotla Road  Uttar Pradesh-283203</td>
                                          </tr>
                                          <tr>
                                            <td>5.</td>
                                            <td>PRINCIPAL NAME</td>
                                            <td>Dr. Brahm Prakash Sharma</td>
                                          </tr>
                                          <tr>
                                            <td>6.</td>
                                            <td>SCHOOL EMAIL ID</td>
                                            <td>antparamdayal@gmail.com</td>
                                          </tr>
                                          <tr>
                                            <td>7.</td>
                                            <td>CONTACT DETAILS(LANDLINE/MOBILE) </td>
                                            <td>+91-9760013590</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="wrap heading">
                                      <h2 class="section-heading"><i class="fa fa-book" aria-hidden="true"></i> D : STAFF DETAILS :</h2>
                                      <div style="overflow-x: auto;">
                                        <table class="table-bordered table-responsive table-responsive1">
                                          <tbody>
                                            <tr>
                                              <th>S.No.</th>
                                              <th>INFORMATION</th>
                                              <th>DETAILS</th>
                                            </tr>
                                            <tr>
                                              <td>1.</td>
                                              <td>PRINCIPAL </td>
                                              <td>01</td>
                                            </tr>
                                            <tr>
                                              <td rowspan="5">2.</td>
                                              <td>TOTAL NO. OF TEACHERS</td>
                                              <td>45</td>
                                            </tr>
                                            <tr>
                                              <td>PGT</td>
                                              <td>14</td>
                                            </tr>
                                            <tr>
                                              <td>TGT</td>
                                              <td>18</td>
                                            </tr>
                                            <tr>
                                              <td>PRT</td>
                                              <td>8</td>
                                            </tr>
                                            <tr>
                                              <td>NTT</td>
                                              <td>5</td>
                                            </tr>
                                            <tr>
                                              <td>3.</td>
                                              <td>DETAILS OF SPECIAL EDUCATOR</td>
                                              <td>Yes(1)</td>
                                            </tr>
                                              <tr>
                                                <td>4.</td>
                                                <td>DETAILS OF COUNSELLOR AND WELLNESS TEACHER</td>
                                                <td>Yes(1)</td>
                                              </tr>

                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    <div class="wrap_heading">
                                      <h2 class="section-heading"><i class="fa fa-book" aria-hidden="true"></i> E : SCHOOL INFRASTRUCTURE:</h2>
                                      <div style="overflow-x: auto;">
                                        <table class="table-bordered table-responsive table-responsive1">
                                          <tbody>
                                            <tr>
                                              <th>S.No.</th>
                                              <th>INFORMATION</th>
                                              <th>DETAILS</th>
                                            </tr>
                                              <tr>
                                                <td>1.</td>
                                                <td>TOTAL CAMPUS AREA OF THE SCHOOL (IN SQUARE MTR) </td>
                                                <td>8020</td>
                                              </tr>
                                                <tr>
                                                  <td>2.</td>
                                                  <td>NO. OF CLASS ROOMS</td>
                                                  <td>38</td>
                                                </tr>
                                                <tr>
                                                  <td>3.</td>
                                                  <td>NO. OF GIRLS TOILET</td>
                                                  <td>20</td>
                                                </tr>
                                                <tr>
                                                  <td>4.</td>
                                                  <td>NO. OF BOYS TOILET</td>
                                                  <td>20</td>
                                                </tr>

                                                <tr>
                                                  <td>7.</td>
                                                  <td>LINK OF YOUTUBE VIDEO OF THE INSPECTION OF SCHOOL COVERING THE INFRASTRUCTURE OF THE SCHOOL</td>
                                                  <td><a href="https://youtu.be/FFby7fj2R-c?si=inZ42r_b9T-R4KQ2" target="_blank" style="color:#333;">CLICK HERE TO VIEW</a></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .section-heading {
    font-size: 20px;
    padding-top: 20px;
  }
  td {
    font-size: 12px;
    padding: 7px 10px;
  }
  .table-responsive {
    width: 100%;
  }
</style>