<div id="content" class="site-content">
  <div class="hmc-container">
    <div>
      <div class="container mt-5">
        <section>
          <h2 class="text-center"><b>Photos Gallery</b></h2>
          <hr>
        </section>
        <section>
          <h4 class="text-center text-muted">
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('1.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('2.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('3.jpg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('4.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('5.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('6.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('7.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('8.jpeg') %>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 mt-5">
              <%= image_tag('9.jpeg') %>
            </div>
          </h4>
        </section>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
