<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="581" class="elementor elementor-581" data-elementor-settings="[]">
      <div class="elementor-inner container mt-5">
        <% if @gallery_video.present? %>
          <section>
            <h2 class="text-center"><b>Videos Gallery</b></h2>
            <hr>
          </section>
          <section>      
            <div class="row">
              <% @gallery_video.each do |gallery_video| %>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
                <h4 class="text-center text-muted"><b><%= gallery_video.title %></b></h4>
                <%= link_to "javascript:void(0);", class: "show_media", data: { toggle: "modal", target: "#mediaModal", id: gallery_video.id, class_name: gallery_video.class.name, url: gallery_videos_path, file_type: "video" } do %>
                  <%= video_tag(gallery_video.video.url, class: "img-thumbnail gallery-media") %>
                <% end %>
                <p>
                  <h5>
                    <% if gallery_video.description && gallery_video.description.length > 100 %>
                      <%= "#{gallery_video.description.first(100)}..." %>
                    <% else %>
                      <%= gallery_video.description %>
                    <% end %>
                  </h5>
                </p>
              </div>
              <% end %>
            </div>
          </section>
        <% else %>
          <section>
            <h4 class="text-center text-muted">Photos not found</h4>
          </section>
        <% end %>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->