<header class="header__block">
  <div class="top-part__block ptb-15">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <p style="color: #fff;">Welcome to SANT PARAM DAYAL SR. SEC. SCHOOL</p>
            </div>
            <div class="col-sm-5">
                <div class="social-link__block text-right">
                    <a href="https://www.facebook.com/people/Sant-Param-Dayal-Sr-Sec-School/100070308753576/?ref=embed_page"><i class="fa fa-facebook" target="_blank"></i></a>
                    <a href="#-"><i class="fa fa-twitter"></i></a>
                    <a href="#-" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://youtu.be/FFby7fj2R-c?si=inZ42r_b9T-R4KQ2" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
  <div class="middel-part__block ptb-20">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <a href="#">
              <%= image_tag('logo.jpg', alt:"Logo") %>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="top-info__block text-right">
            <ul>
              <li>
                <i class="fa fa-map-marker"></i>
                <p>Gonchh, Kotla Road  Uttar Pradesh<br />Firozabad (U.P.) 283203 </p>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <p> +91- 9760013590, 8057600091 <br />+91 8057600091</p>
              </li>
              <li>
                <i class="fa fa-clock-o"></i>
                <p>School Timing <span>8AM - 4PM</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navgation__block stricky-header__top">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="main-menu__block">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand visible-xs" href="#">
              <img src="/assets/logo.png" alt="">
              </a>
            </div>
            <!--===Navigation===-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav mobile-menu">
                <li>
                  <a href="<%= root_path %>">Home</a> <span class="submenu-button"></span>                                        
                </li>
                <li>
                  <a href="javascript:avoid(0);">About us</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_about_us_path %>">Know SPDS</a> </li>
                    <li> <a href="<%= welcome_mission_path %>">Mission/Vision</a> </li>
                    <li> <a href="<%= welcome_chairman_message_path %>">Manager's Message</a> </li>
                    <li> <a href="<%= welcome_principal_message_path %>">Principal's Message</a> </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:avoid(0);">Achievements</a> <span class="submenu-button"></span>
                  <!--<ul class="dropdown-menu">
                    <li> <a href="#">Admission Procedure</a> </li>
                    <li> <a href="#">Fee Structure</a> </li>
                    <li> <a href="#">Online Admission</a> </li>
                    </ul>-->
                </li>
                <li>
                  <a href="javascript:avoid(0);">Academics</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_fee_stracture_path %>">Fee Structure</a> </li>
                    <li><a href="#" target="_blank">Syllabus</a></li>
                    <li><a href="#" target="_blank">DateSheet</a></li>
                    <li><a href="#">Teaching Staff</a></li>
                    <li><a href="#">Result Class X<sup>th</sup></a></li>
                    <li><a href="<%= tc_entries_path %>" target="_blank">AWS TC Data</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Facilities</a> <span class="submenu-button"></span>
                  <!--<ul class="dropdown-menu">
                    <li> <a href="#">Event</a> </li>
                    <li> <a href="#">Event Details</a> </li>
                    </ul>-->
                </li>
                <li>
                  <a href="javascript:avoid(0);">Gallery</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_gallery_path %>">Photo Gallery</a> </li>
                    <li> <a href="#">Video Gallery</a> </li>
                    <li> <a href="#">Media Gallery</a> </li>
                  </ul>
                </li>
                <li>
                  <a href="#" target="_blank">Prospectus</a> <span class="submenu-button"></span>
                </li>
                <li><a href="<%= welcome_mandatory_public_disclosure_path %>">Mandatory Public Disclosure</a></li>
                <li><a class="custom_btn__block" href="<%= welcome_contact_us_path %>">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>